![Los Angeles skyline](la_skyline.jpg)

Los Angeles, California ðŸ˜Ž. The City of Angels. Tinseltown. The Entertainment Capital of the World! 

Known for its warm weather, palm trees, sprawling coastline, and Hollywood, along with producing some of the most iconic films and songs. However, as with any highly populated city, it isn't always glamorous and there can be a large volume of crime. That's where you can help!

You have been asked to support the Los Angeles Police Department (LAPD) by analyzing crime data to identify patterns in criminal behavior. They plan to use your insights to allocate resources effectively to tackle various crimes in different areas.

## The Data

They have provided you with a single dataset to use. A summary and preview are provided below.

It is a modified version of the original data, which is publicly available from Los Angeles Open Data.

# crimes.csv

| Column     | Description              |
|------------|--------------------------|
| `'DR_NO'` | Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits. |
| `'Date Rptd'` | Date reported - MM/DD/YYYY. |
| `'DATE OCC'` | Date of occurrence - MM/DD/YYYY. |
| `'TIME OCC'` | In 24-hour military time. |
| `'AREA NAME'` | The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles. |
| `'Crm Cd Desc'` | Indicates the crime committed. |
| `'Vict Age'` | Victim's age in years. |
| `'Vict Sex'` | Victim's sex: `F`: Female, `M`: Male, `X`: Unknown. |
| `'Vict Descent'` | Victim's descent:<ul><li>`A` - Other Asian</li><li>`B` - Black</li><li>`C` - Chinese</li><li>`D` - Cambodian</li><li>`F` - Filipino</li><li>`G` - Guamanian</li><li>`H` - Hispanic/Latin/Mexican</li><li>`I` - American Indian/Alaskan Native</li><li>`J` - Japanese</li><li>`K` - Korean</li><li>`L` - Laotian</li><li>`O` - Other</li><li>`P` - Pacific Islander</li><li>`S` - Samoan</li><li>`U` - Hawaiian</li><li>`V` - Vietnamese</li><li>`W` - White</li><li>`X` - Unknown</li><li>`Z` - Asian Indian</li> |
| `'Weapon Desc'` | Description of the weapon used (if applicable). |
| `'Status Desc'` | Crime status. |
| `'LOCATION'` | Street address of the crime. |

### Explore the crimes.csv dataset and use your findings to answer the following questions:

#### 1.Which hour has the highest frequency of crimes? Store as an integer variable called peak_crime_hour.

#### 2.Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)? Save as a string variable called peak_night_crime_location.

#### 3.Identify the number of crimes committed against victims of different age groups. Save as a pandas Series called victim_ages, with age group labels "0-17", "18-25", "26-34", "35-44", "45-54", "55-64", and "65+" as the index and the frequency of crimes as the values.

In [264]:
# Re-run this cell
#Â Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("crimes.csv", dtype={"TIME OCC": str})
crimes.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION
0,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV
1,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST
2,220614831,2022-08-18,2020-08-17,1200,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,Invest Cont,1900 TRANSIENT
3,231207725,2023-02-27,2020-01-27,0635,77th Street,THEFT OF IDENTITY,37,M,H,NaN,Invest Cont,6200 4TH AV
4,220213256,2022-07-14,2020-07-14,0900,Rampart,THEFT OF IDENTITY,79,M,B,NaN,Invest Cont,1200 W 7TH ST

In [265]:
# Start coding here
# Use as many cells as you need

In [266]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185715 entries, 0 to 185714
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         185715 non-null  int64
 1   Date Rptd     185715 non-null  object
 2   DATE OCC      185715 non-null  object
 3   TIME OCC      185715 non-null  object
 4   AREA NAME     185715 non-null  object
 5   Crm Cd Desc   185715 non-null  object
 6   Vict Age      185715 non-null  int64
 7   Vict Sex      185704 non-null  object
 8   Vict Descent  185705 non-null  object
 9   Weapon Desc   73502 non-null   object
 10  Status Desc   185715 non-null  object
 11  LOCATION      185715 non-null  object
dtypes: int64(2), object(10)
memory usage: 17.0+ MB

In [267]:
crimes['hour_dt'] = pd.to_datetime(crimes['TIME OCC'], format = '%H%M').dt.hour

crimes['time'] = pd.to_datetime(crimes['TIME OCC'], format = '%H%M').dt.time

print(crimes)

            DR_NO   Date Rptd    DATE OCC TIME OCC    AREA NAME  \
0       220314085  2022-07-22  2020-05-12     1110    Southwest
1       222013040  2022-08-06  2020-06-04     1620      Olympic
2       220614831  2022-08-18  2020-08-17     1200    Hollywood
3       231207725  2023-02-27  2020-01-27     0635  77th Street
4       220213256  2022-07-14  2020-07-14     0900      Rampart
...           ...         ...         ...      ...          ...
185710  231510379  2023-05-29  2023-05-25     1100  N Hollywood
185711  231604807  2023-01-27  2023-01-26     1800     Foothill
185712  231606525  2023-03-22  2023-03-22     1000     Foothill
185713  231210064  2023-04-12  2023-04-12     1630  77th Street
185714  230906458  2023-03-05  2023-03-05     0900     Van Nuys

                                              Crm Cd Desc  Vict Age Vict Sex  \
0                                       THEFT OF IDENTITY        27        F
1                                       THEFT OF IDENTITY        60        M
2                                       THEFT OF IDENTITY        28        M
3                                       THEFT OF IDENTITY        37        M
4                                       THEFT OF IDENTITY        79        M
...                                                   ...       ...      ...
185710                                 BUNCO, GRAND THEFT        25        M
185711  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...        23        M
185712     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT        25        F
185713     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT        29        M
185714           VANDALISM - MISDEAMEANOR ($399 OR UNDER)        53        F

       Vict Descent                                     Weapon Desc  \
0                 B                                             NaN
1                 H                                             NaN
2                 H                                             NaN
3                 H                                             NaN
4                 B                                             NaN
...             ...                                             ...
185710            W                                             NaN
185711            H                                             NaN
185712            H  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
185713            B                     UNKNOWN WEAPON/OTHER WEAPON
185714            H                                             NaN

        Status Desc                                  LOCATION  hour_dt  \
0       Invest Cont   2500 S  SYCAMORE                     AV       11
1       Invest Cont   3300    SAN MARINO                   ST       16
2       Invest Cont                         1900    TRANSIENT       12
3       Invest Cont   6200    4TH                          AV        6
4       Invest Cont   1200 W  7TH                          ST        9
...             ...                                       ...      ...
185710  Invest Cont   5300    DENNY                        AV       11
185711  Invest Cont  12500    BRANFORD                     ST       18
185712  Invest Cont  12800    FILMORE                      ST       10
185713  Invest Cont   6100 S  VERMONT                      AV       16
185714  Invest Cont  14500    HARTLAND                     ST        9

            time
0       11:10:00
1       16:20:00
2       12:00:00
3       06:35:00
4       09:00:00
...          ...
185710  11:00:00
185711  18:00:00
185712  10:00:00
185713  16:30:00
185714  09:00:00

[185715 rows x 14 columns]

In [268]:
peak_crime_hour = int(crimes['hour_dt'].value_counts().idxmax())

print(peak_crime_hour)

12

#### Question 2

In [269]:

filtered_by_time = crimes[crimes['hour_dt'].isin([22,23,0,1,2,3])]

print(filtered_by_time)

            DR_NO   Date Rptd    DATE OCC TIME OCC    AREA NAME  \
8       231207476  2023-02-27  2020-08-15     0001  77th Street
10      221711184  2022-06-15  2020-05-15     0155   Devonshire
30      221314362  2022-07-11  2020-04-07     0001       Newton
33      231307252  2023-03-03  2020-07-05     2305       Newton
36      221614254  2022-11-13  2020-01-01     0001     Foothill
...           ...         ...         ...      ...          ...
185687  231306158  2023-02-11  2023-02-08     2200       Newton
185695  231212224  2023-05-17  2023-05-17     2300  77th Street
185700  231300825  2023-06-07  2023-06-07     2203       Newton
185701  230908346  2023-04-19  2023-04-18     2243     Van Nuys
185704  231710498  2023-05-29  2023-05-29     0200   Devonshire

                              Crm Cd Desc  Vict Age Vict Sex Vict Descent  \
8                                BURGLARY        72        M            B
10                      THEFT OF IDENTITY        27        M            B
30                      THEFT OF IDENTITY        53        F            H
33                      THEFT OF IDENTITY        22        F            B
36                      THEFT OF IDENTITY        22        F            H
...                                   ...       ...      ...          ...
185687              BURGLARY FROM VEHICLE        38        M            H
185695     VIOLATION OF RESTRAINING ORDER        35        F            H
185700           BATTERY - SIMPLE ASSAULT        45        F            B
185701                  THEFT OF IDENTITY        34        F            B
185704  INTIMATE PARTNER - SIMPLE ASSAULT        27        F            H

                                           Weapon Desc  Status Desc  \
8                                                  NaN  Invest Cont
10                                                 NaN  Invest Cont
30                                                 NaN  Invest Cont
33                                                 NaN  Invest Cont
36                                                 NaN  Invest Cont
...                                                ...          ...
185687                                             NaN  Invest Cont
185695                                             NaN  Invest Cont
185700                     UNKNOWN WEAPON/OTHER WEAPON  Invest Cont
185701                                             NaN  Invest Cont
185704  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)  Invest Cont

                                        LOCATION  hour_dt      time
8        8800    HAAS                         AV        0  00:01:00
10       8300    WHITE OAK                    AV        1  01:55:00
30       1600 E  OLYMPIC                      BL        0  00:01:00
33                              6600 S  BROADWAY       23  23:05:00
36      10200    TELFAIR                      AV        0  00:01:00
...                                          ...      ...       ...
185687   1700 E  16TH                         ST       22  22:00:00
185695   8200 S  MAIN                         ST       23  23:00:00
185700   2300    WALL                         ST       22  22:03:00
185701   4800    COLDWATER CANYON             AV       22  22:43:00
185704  11400    PORTER RANCH                 DR        2  02:00:00

[39183 rows x 14 columns]

In [270]:
peak_night_crime_location = filtered_by_time['AREA NAME'].value_counts().idxmax()

print(peak_night_crime_location)

Central

### Question 3

In [271]:
age_labels = ["0-17", "18-25", "26-34", "35-44", "45-54", "55-64", "65+"]

age_bins = [0, 17, 25, 34, 44, 54, 64, np.inf]

crimes['age_grp'] = pd.cut(x = crimes['Vict Age'], bins = age_bins, labels = age_labels)

print(crimes)

            DR_NO   Date Rptd    DATE OCC TIME OCC    AREA NAME  \
0       220314085  2022-07-22  2020-05-12     1110    Southwest
1       222013040  2022-08-06  2020-06-04     1620      Olympic
2       220614831  2022-08-18  2020-08-17     1200    Hollywood
3       231207725  2023-02-27  2020-01-27     0635  77th Street
4       220213256  2022-07-14  2020-07-14     0900      Rampart
...           ...         ...         ...      ...          ...
185710  231510379  2023-05-29  2023-05-25     1100  N Hollywood
185711  231604807  2023-01-27  2023-01-26     1800     Foothill
185712  231606525  2023-03-22  2023-03-22     1000     Foothill
185713  231210064  2023-04-12  2023-04-12     1630  77th Street
185714  230906458  2023-03-05  2023-03-05     0900     Van Nuys

                                              Crm Cd Desc  Vict Age Vict Sex  \
0                                       THEFT OF IDENTITY        27        F
1                                       THEFT OF IDENTITY        60        M
2                                       THEFT OF IDENTITY        28        M
3                                       THEFT OF IDENTITY        37        M
4                                       THEFT OF IDENTITY        79        M
...                                                   ...       ...      ...
185710                                 BUNCO, GRAND THEFT        25        M
185711  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...        23        M
185712     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT        25        F
185713     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT        29        M
185714           VANDALISM - MISDEAMEANOR ($399 OR UNDER)        53        F

       Vict Descent                                     Weapon Desc  \
0                 B                                             NaN
1                 H                                             NaN
2                 H                                             NaN
3                 H                                             NaN
4                 B                                             NaN
...             ...                                             ...
185710            W                                             NaN
185711            H                                             NaN
185712            H  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
185713            B                     UNKNOWN WEAPON/OTHER WEAPON
185714            H                                             NaN

        Status Desc                                  LOCATION  hour_dt  \
0       Invest Cont   2500 S  SYCAMORE                     AV       11
1       Invest Cont   3300    SAN MARINO                   ST       16
2       Invest Cont                         1900    TRANSIENT       12
3       Invest Cont   6200    4TH                          AV        6
4       Invest Cont   1200 W  7TH                          ST        9
...             ...                                       ...      ...
185710  Invest Cont   5300    DENNY                        AV       11
185711  Invest Cont  12500    BRANFORD                     ST       18
185712  Invest Cont  12800    FILMORE                      ST       10
185713  Invest Cont   6100 S  VERMONT                      AV       16
185714  Invest Cont  14500    HARTLAND                     ST        9

            time age_grp
0       11:10:00   26-34
1       16:20:00   55-64
2       12:00:00   26-34
3       06:35:00   35-44
4       09:00:00     65+
...          ...     ...
185710  11:00:00   18-25
185711  18:00:00   18-25
185712  10:00:00   18-25
185713  16:30:00   26-34
185714  09:00:00   45-54

[185715 rows x 15 columns]

In [272]:
victim_ages = crimes['age_grp'].value_counts()

print(victim_ages)

age_grp
26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: count, dtype: int64